<div class="footer">
    <ul>
        <li>
          <a (click)="policies()">Polices</a>
        </li>
        <li>
          <a (click)="terms_Condition()">Terms and Conditions</a>
        </li>
        <li>
          <a href="">Help Center</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jyoti-raut-767174244/">LinkedIn</a>
        </li>
        <li>
            <a href="https://www.instagram.com/jyotiraut087/">Instagram</a>
        </li>
        <li>
            <a href="">Youtube</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
      <p>© E-commerce Project By Jyoti Raut</p>
      
</div>