<div class="container">
    <h2 class="terms">Terms And Conditions</h2>
    <h5 class="cond">
        On a website, mobile application, or desktop application, an “agree to terms and conditions” checkbox is simply
        an empty box that a user must tick in order to acknowledge their consent and proceed with their use of the app
        or website. This is known as a “clickwrap” agreement.

        An alternative to a clickwrap agreement is a “browsewrap” agreement, which assumes that if you browse through
        any area of a website, you’re tacitly agreeing to the terms and conditions for use. Read on to view clickwrap
        and browsewrap examples on websites, apps, and more.
    </h5>
</div>